/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #084f2d;
    color: white;
    padding: 10px;
}

.search-bar {
    flex-grow: 1;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

/* Cart styles */
.cart {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.cart-items {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-total h3 {
    font-size: 20px;
}

.checkout-btn {
    padding: 10px 20px;
    background-color: #084f2d;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkout-btn:hover {
    background-color: #006d3a;
}
